<div class="container">
  <p>form-people works!</p>
  <form action="">
    <label for="txtIdentificacion">Identificacion</label>
    <input type="number" name="txtIdentificacion" id="txtIdentificacion">
    <label for="txtNombre">Nombre</label>
    <input type="text" name="txtNombre" id="txtNombre">
    <label for="txtApellido">Apellido</label>
    <input type="text" name="txtApellido" id="txtApellido">
    <label for="txtDireccion">Direccion</label>
    <input type="text" name="txtDireccion" id="txtDireccion">
    <label for="txtFecNacimiento">Fecha Nacimiento</label>
    <input type="text" name="txtFecNacimiento" id="txtFecNacimiento">
    <label for="txtCorreo">Correo</label>
    <input type="text" name="txtCorreo" id="txtCorreo">
  </form>
</div>
<div>
  <app-table-people></app-table-people>
</div>
